* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background: linear-gradient(90deg, #3d0b79, #0abb77);
  color: rgb(225, 227, 225);
  padding: 18px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h2 {
  font-size: 30px;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 35px;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: 0.3s;
}

nav a:hover {
  color: #ffd700;
}